@sixthsense:registry=https://artifacts-observability.sixthsense.rakuten.com/api/v4/projects/9/packages/npm/
//artifacts-observability.sixthsense.rakuten.com/api/v4/projects/9/packages/npm/:_authToken=${PACKAGE_TOKEN}
always-auth=true
